html, body {
    margin: 0;
}

.home_head_bar {
    background-color: #474747; /*fallback for browser does not support gradient*/
    /*
    ** Android: -webkit-
    ** Chrome: -webkit-
    ** Firefox: -moz-
    ** Internet Explorer: -ms-
    ** iOS: -webkit-
    ** Opera: -o-
    ** Safari: -webkit-
    */
    background: -webkit-linear-gradient(top, #373737, #212121);
    background: -moz-linear-gradient(top, #373737, #212121);
    background: -o-linear-gradient(top, #373737, #212121);
    background: linear-gradient(top, #373737, #212121);
    color: #ffffff;
    text-align: center;
    padding: 2rem 4rem;
}

.home_head_bar h1 {
    margin: 0;
}

.home_main_box {
    width: 600px;
    margin: 0 auto;
    padding-top: 2rem;
}

.home_main_box ul li {
    font-size: 1.35em;
}